body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ol {
    list-style-type: none;
    display: flex;
    gap: 24px;
    font-size: 20px;
}

.first {
    height: 535px;
    flex-direction: column;
}

.first .top {
    margin-top: -1px;
    justify-content: space-between;
}

.first .bottom {
    margin-top: 98px;
}

.first .bottom .left {
    padding-top: 3px;
    padding-right: 50px;
    width: 450px;
    height: 237px;
    flex: 1;
}

.first .bottom .right {
    background: #6D747D;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 523px;
    height: 240px;
}

.first .top, .first .bottom {
    display: flex;
    margin-left: 210px;
    margin-right: 210px;
    align-items: center;
}

.hero {
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0;
}

.subhero {
    margin-top: 0;
    font-size: 18px;
}

#first-button {
    height: 35px;
    width: 130px;
    border: 0px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #FAF9F8;
    font-size: 18px;
    font-weight: bold;
}

.second {
    height: 500px;
}

.third {
    height: 430px;
    background: #E5E7EB;
}

.forth {
    height: 350px;
}

.fifth {
    height: 100px;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}

.first, .fifth {
    background: #1F2937;
    color: #FAF9F8;
}

.first, .second, .third, .forth, .fifth {
    display: flex;

